<!DOCTYPE html>
<html>
<head>
  <img src="https://hosting.photobucket.com/images/pp94/alliricker/SEED_TO_CUP_(2).png?width=960&height=720&fit=bounds" border="0" alt="SEED_TO_CUP_(2)"/>
</head>
<body>
    <%= yield %>
</body>
</html>